<h1>{{title}}</h1>
<input [type]="miTipo" [(ngModel)]="title"><br>
<input type="button" value = "cambiar titulo" (click)="mostrarAlert()">

<h2>Sumar</h2>
<input type="number" [(ngModel)]="miSuma.numero1">
<label> + </label>
<input type="number" [(ngModel)]="miSuma.numero2">
<label> = </label>
<input type="number" [value]="miSuma.total">
<input type="button" value = "Sumar" (click)="miSuma.sumar()">

<h2>Login</h2>
<label>Usuario: </label>
<input type="text" [(ngModel)]="miUsuario.usuario">
<br>
<label>Contraseña: </label>
<input type="text" [(ngModel)]="miUsuario.password">
<br>
<input type="button" value = "Login" (click)="miUsuario.login()">